h1{
    color:rgb(9, 9, 141)
}
ul{
    list-style-type: none;
    background-color: rgb(106, 106, 233);
    overflow: hidden;
    margin:0;
    padding:0;
}
li{
    float:left;
}
li a{
    display: block;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(14, 12, 12);
}
.marco{
    width: 1000px;
    height: 300px;
}
